div{
	/* border: 1px solid #b9b9b9; */
}
.body_index{
	background: url("../img/background.jpg") no-repeat;
	/* width: 100%;  */
	background-size:100%;
}

.window_login{
	width: 500px;
	height: 300px;
	border: 1px solid #b9b9b9;
	position:absolute;
	top: 25%;
	right:  4%;
	background-color:rgba(255,255,255,0.5);
	z-index:999;
	padding: 3px;
}
.window_login_padding{
	border: 1px solid #b9b9b9;
	background-color: rgba(255,255,255,0.5);
}
.content_login{
	margin-top: 40px;
	width:90%;
	height:50%;
	margin-left:5%;
	border-bottom: 1px solid #b9b9b9;
}
.label{
	width: 25%;
	height:100%;
    text-align: right;
    font-size: large;
    float: left;
    line-height:100%;
    font-weight:bold;
    color: #797979;
}
.content{
	width: 70%;
	height:35px;
	float: right;
	line-height:100%;
}

.column{
	width: 90%;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}
.label_content{
	line-height:35px;
	height: 100%;
	width: 100%;
}
.text_content{
	line-height:35px;
	height: 100%;
	width: 100%;
	font-size: 16px;
}
.buttons{
	height:50px;
	margin-top: 25px;
	margin-right: 10%;
	text-align: right;
}
.button{
	width: 80px;
	height: 40px;
	font-size: 16px;
	font-weight:bold;
	background-color: #949494;
	color:white;
	border: 1px solid #b9b9b9; 
}
.button:HOVER {
	background-color: white;
	color:#949494;
	font-size: 17px;
	cursor: pointer;
}